@import "tailwindcss";

@font-face {
    font-family: Lausanne-300;
    src: url("./assets/fonts/Lausanne-300.woff2");
}

@font-face {
    font-family: Lausanne-500;
    src: url("./assets/fonts/Lausanne-500.woff2");
}

::selection {
    background-color: #d3fd50;
    color: #000;
    text-shadow: none;
}